---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=en&lat=39.1224&lon=-104.1665&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.1224,"lon":-104.1665,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619279326,"sunrise":1619266002,"sunset":1619314946,"temp":49.08,"feels_like":42.58,"pressure":1015,"humidity":59,"dew_point":35.4,"uvi":3.68,"clouds":3,"visibility":10000,"wind_speed":18.99,"wind_deg":207,"wind_gust":24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619276400,"temp":48.36,"feels_like":42.22,"pressure":1015,"humidity":59,"dew_point":34.72,"uvi":2.1,"clouds":2,"visibility":10000,"wind_speed":16.33,"wind_deg":197,"wind_gust":21.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619280000,"temp":49.08,"feels_like":42.87,"pressure":1015,"humidity":59,"dew_point":35.4,"uvi":3.68,"clouds":3,"visibility":10000,"wind_speed":17.65,"wind_deg":192,"wind_gust":22.21,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619283600,"temp":49.66,"feels_like":43.3,"pressure":1014,"humidity":55,"dew_point":34.18,"uvi":5.47,"clouds":6,"visibility":10000,"wind_speed":19.22,"wind_deg":190,"wind_gust":22.32,"weather":[{"id":800,"mai[...]
