---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=en&lat=39.1224&lon=-104.1665&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.1224,"lon":-104.1665,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620231319,"sunrise":1620215598,"sunset":1620265997,"temp":51.49,"feels_like":49.35,"pressure":1021,"humidity":64,"dew_point":39.74,"uvi":4.26,"clouds":11,"visibility":10000,"wind_speed":5.99,"wind_deg":348,"wind_gust":11.99,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1620230400,"temp":51.49,"feels_like":49.35,"pressure":1021,"humidity":64,"dew_point":39.74,"uvi":4.26,"clouds":11,"visibility":10000,"wind_speed":10.45,"wind_deg":1,"wind_gust":10.92,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.03},{"dt":1620234000,"temp":51.87,"feels_like":49.59,"pressure":1021,"humidity":60,"dew_point":38.44,"uvi":6.23,"clouds":11,"visibility":10000,"wind_speed":9.66,"wind_deg":13,"wind_gust":10.11,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.03},{"dt":1620237600,"temp":53.08,"feels_like":50.63,"pressure":1020,"humidity":54,"dew_point":36.9,"uvi":7.7,"clouds":10,"visibility":10000,"wind_speed":10.22,"wind_deg":24,"wind_gust":11.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620241200,"temp":53.71,"feels_like":51.13,"pressure":1019,"humidity":50,"dew_point":35.53,"uvi":8.01,"clouds":60,"visibility":10000,"wind_speed":5.44,"wind_deg":8,"wind_gust":8.21,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.36},{"dt":1620244800,"temp":52.11,"feels_like":49.51,"pressure":1020,"humidity":53,"dew_point":35.53,"uvi":7.44,"clouds":77,"visibility":10000,"wind_speed":3.76,"wind_deg":336,"wind_gust":8.25,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.37,"rain":{"1h":0.53}},{"dt":1620248400,"temp":53.83,"feels_like":51.17,"pressure":1019,"humidity":48,"dew_point":34.39,"uvi":5.96,"clouds":96,"visibility":10000,"wind_speed":2.19,"wind_deg":345,"wind_gust":6.58,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.34,"rain":{"1h":0.16}},{"dt":1620252000,"temp":55.71,"feels_like":53.04,"pressure":1018,"humidity":44,"dew_point":34.09,"uvi":4.28,"clouds":91,"visibility":10000,"wind_speed":6.2,"wind_deg":338,"wind_gust"[...]
