---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=en&lat=39.1224&lon=-104.1665&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.1224,"lon":-104.1665,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619366961,"sunrise":1619352323,"sunset":1619401405,"temp":61.97,"feels_like":59.09,"pressure":1004,"humidity":26,"dew_point":27.34,"uvi":4.15,"clouds":8,"visibility":10000,"wind_speed":15.99,"wind_deg":183,"wind_gust":21,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619366400,"temp":61.97,"feels_like":59.09,"pressure":1004,"humidity":26,"dew_point":27.34,"uvi":4.15,"clouds":8,"visibility":10000,"wind_speed":9.86,"wind_deg":205,"wind_gust":12.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619370000,"temp":62.28,"feels_like":59.38,"pressure":1004,"humidity":25,"dew_point":26.74,"uvi":6.17,"clouds":10,"visibility":10000,"wind_speed":10.87,"wind_deg":205,"wind_gust":14.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619373600,"temp":63.59,"feels_like":60.73,"pressure":1004,"humidity":23,"dew_point":25.93,"uvi":7.69,"clouds":15,"visibility":10000,"wind_speed":12.5,"wind_deg":199,"wind_gust":18.48,"weather":[{"id":801,"[...]
