---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=UNSPLASH_KEY&query=denver,co,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=UNSPLASH_KEY&page=1000&query=denver%2Cco%2Cskyline>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=UNSPLASH_KEY&page=2&query=denver%2Cco%2Cskyline>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"e590b179909ab48b53b0c194e11e46d8"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":1000,"results":[{"id":"pBtdIO99UIc","created_at":"2019-10-08T21:44:07-04:00","updated_at":"2021-05-04T22:09:27-04:00","promoted_at":null,"width":1944,"height":2592,"color":"#0c2659","blur_hash":"LZ7U.CxbWAR+KUSPf6oLVBafkDj]","description":"Colin
        McIntosh sheetsgiggles.com","alt_description":"wide-angle photography of buildings
        during daytime","urls":{"raw":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixid=MnwyMjYwOTZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHx8fHwxNjIwMjMxMzE5\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMjYwOTZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHx8fHwxNjIwMjMxMzE5\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYwOTZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHx8fHwxNjIwMjMxMzE5\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYwOTZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHx8fHwxNjIwMjMxMzE5\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYwOTZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHx8fHwxNjIwMjMxMzE5\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/pBtdIO99UIc","html":"https://unsplash.com/photos/pBtdIO99UIc","download":"https://unsplash.com/photos/pBtdIO99UIc/download","download_location":"https://api.unsplash.com/photos/pBtdIO99UIc/download?ixid=MnwyMjYwOTZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHx8fHwxNjIwMjMxMzE5"},"categories":[],"likes":34,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"uCjRDd85Gm8","updated_at":"2021-05-05T00:18:50-04:00","username":"melissamullinator","name":"Melissa
        Mullin","first_name":"Melissa","last_name":"Mullin","twitter_username":"thehealthymel","portfolio_url":"http://Thehealthymelissa.com","bio":"Tag
        me on insta @thehealthymelissa","location":"Florida","links":{"self":"https://api.unsplash.com/users/melissamullinator","html":"https://unsplash.com/@melissamullinator","photos":"https://api.unsplash.com/users/melissamullinator/photos","likes":"https://api.unsplash.com/users/melissamullinator/likes","portfolio":"https://api.unsplash.com/users/melissamullinator/portfolio","following":"https://api.unsplash.com/users/melissamullinator/following","followers":"https://api.unsplash.com/users/melissamullinator/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1618792129584-bcb060131f43image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1618792129584-bcb060131f43image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1618792129584-bcb060131f43image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"thehealthymelissa","total_collections":4,"total_likes":1281,"total_photos":124,"accepted_tos":true,"for_hire":false},"tags":[{"type":"search","title":"banister"},{"type":"search","title":"handrail"},{"type":"search","title":"office
        building"}]},{"id":"zuKG8lviU7I","created_at":"2021-04-29T20:44:47-04:00","updated_at":"2021-05-04T15:40:11-04:00","promoted_at":null,"width":2614,"height":2253,"color":"#8c8c59","blur_hash":"LKCGJ8RQ03W,%JWBR.of4pt6-.jJ","description":"BTS
        of our trip to Denver in March 2021. Shooting ''Cash Shit'' and ''''95 Jodeci''
        music videos with Vitorio. Shout to Mike, Tabyan, Mason, Julian, Julie, a[...]
