---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=en&lat=39.1224&lon=-104.1665&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.1224,"lon":-104.1665,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619301121,"sunrise":1619266002,"sunset":1619314946,"temp":63.48,"feels_like":60.85,"pressure":1009,"humidity":28,"dew_point":30.09,"uvi":2.97,"clouds":99,"visibility":10000,"wind_speed":15.99,"wind_deg":192,"wind_gust":25.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619298000,"temp":62.98,"feels_like":60.21,"pressure":1008,"humidity":26,"dew_point":28.11,"uvi":4.87,"clouds":99,"visibility":10000,"wind_speed":15.88,"wind_deg":193,"wind_gust":18.92,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619301600,"temp":63.48,"feels_like":60.85,"pressure":1009,"humidity":28,"dew_point":30.09,"uvi":2.97,"clouds":99,"visibility":10000,"wind_speed":14.83,"wind_deg":200,"wind_gust":23.76,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619305200,"temp":63.37,"feels_like":60.64,"pressure":1008,"humidity":26,"dew_point":28.4,"uvi":1.57,"clouds":98,"visibility":10000,"wind_speed":16.02,"wind_deg":206,"wind_gust":23.64,"weather":[{"id[...]
