---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_KEY&location=%7B%22location%22=%3E%22denver,co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 21:51:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,co\"}"},"locations":[{"street":"Denver
        West County Mills Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/2819036","unknownInput":"","type":"s","latLng":{"lat":39.72906,"lng":-105.16534},"displayLatLng":{"lat":39.72906,"lng":-105.16534},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_KEY&type=map&size=225,160&locations=39.72906,-105.16534|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-479926373"},{"street":"Denver
        Avenue","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Fort
        Lupton","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80621","geocodeQualityCode":"B3CCA","geocodeQua[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_KEY&exclude=minutely&lang=en&lat=39.72906&lon=-105.16534&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7291,"lon":-105.1653,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619301087,"sunrise":1619266181,"sunset":1619315246,"temp":63.86,"feels_like":61.77,"pressure":1010,"humidity":39,"dew_point":38.46,"uvi":3.97,"clouds":99,"visibility":10000,"wind_speed":1.01,"wind_deg":203,"wind_gust":4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619298000,"temp":63.72,"feels_like":61.43,"pressure":1009,"humidity":35,"dew_point":35.58,"uvi":5.61,"clouds":99,"visibility":10000,"wind_speed":3.2,"wind_deg":106,"wind_gust":10.98,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619301600,"temp":63.86,"feels_like":61.77,"pressure":1010,"humidity":39,"dew_point":38.46,"uvi":3.97,"clouds":99,"visibility":10000,"wind_speed":3.49,"wind_deg":89,"wind_gust":8.39,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619305200,"temp":63.79,"feels_like":61.52,"pressure":1009,"humidity":35,"dew_point":35.65,"uvi":2.14,"clouds":99,"visibility":10000,"wind_speed":2.15,"wind_deg":69,"wind_gust":11.92,"weather":[{"id":80[...]
